bg {

    background: url(images/upsell-product-shot.png);
    background: url(images/ejt-collection-upsell.png);
    background: url(images/signature-collection-upsell.png);
    background: url(images/pro-coach-collection-upsell.png);

}
